* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #084991;
}
.ball-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ball {
  --animation-duration: 3s; /* add this line */
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation-duration: var(--animation-duration); /* change this line */
  animation-name: bounce;
}

.ball:nth-child(1) {
  --animation-duration: 4s;
  top: 80%;
  left: 20%;
  background-color: #ed9d20;
}

.ball:nth-child(2) {
  --animation-duration: 3.5s;
  top: 80%;
  left: 30%;
  background-color: #ed7220;
}

.ball:nth-child(3) {
  --animation-duration: 4.2s;
  top: 80%;
  left: 45%;
  background-color: #ef5416;
}

.ball:nth-child(4) {
  --animation-duration: 3.2s;
  top: 80%;
  left: 58%;
  background-color: #ea2127;
}

.ball:nth-child(5) {
  --animation-duration: 4.5s;
  top: 80%;
  left: 68%;
  background-color: #ea4221;
}

@keyframes bounce {
  0% {
    left: -100px;
    transform: translateY(-300px);
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateY(0) translateX(-200px) scale(1.2);
    animation-timing-function: ease-out;
  }
  40% {
    transform: translateY(-150px) translateX(-100px) scale(0.8);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(0) translateX(-50px) scale(1.1);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(-100px) translateX(-25px) scale(0.9);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translateY(0) translateX(-10px) scale(1.05) rotate(5deg);
    animation-timing-function: ease-out;
  }

  80% {
    transform: translateY(-50px) translateX(-5px) scale(0.95) rotate(-5deg);
    animation-timing-function: ease-in;
  }

  85% {
    transform: translateY(0) translateX(-5px) scale(1);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translateY(-25px) translateX(-5px) scale(0.95);
    animation-timing-function: ease-in;
  }

  95% {
    transform: translateY(0) translateX(-2px) scale(1);
    animation-timing-function: ease-out;
  }

  98% {
    transform: translateY(0) translateX(0) scale(1);
    animation-timing-function: ease-out;
  }

  99% {
    transform: translateY(0) translateX(0) scale(0.99);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0) translateX(0) scale(0.98);
    animation-timing-function: ease-out;
  }
}

@media (max-width: 1100px) {
  .ball-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .ball {
    width: 100px;
    height: 100px;
  }

  .ball:nth-child(1) {
    --animation-duration: 4s;
    top: 80%;
    left: 5%;
    background-color: #ed9d20;
  }

  .ball:nth-child(2) {
    --animation-duration: 3.5s;
    top: 80%;
    left: 25%;
    background-color: #ed7220;
  }

  .ball:nth-child(3) {
    --animation-duration: 4.2s;
    top: 80%;
    left: 45%;
    background-color: #ef5416;
  }

  .ball:nth-child(4) {
    --animation-duration: 3.2s;
    top: 80%;
    left: 68%;
    background-color: #ea2127;
  }

  .ball:nth-child(5) {
    --animation-duration: 4.5s;
    top: 80%;
    left: 88%;
    background-color: #ea4221;
  }
}
